<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
<title>Flickr</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/dropzone.js"></script>
<script src="js/menu.js"></script>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">
<!--[if lte IE 8]>
<link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="<%= url("/css/layouts/side-menu.css") %>">
<link rel="stylesheet" href="<%= url("/css/layouts/basic.css") %>">
<link rel="stylesheet" href="<%= url("/css/application.css") %>">
<!--<![endif]-->
</head>

<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="#">Flickr</a>

            <ul>
                <% if current_user %>
                <li><a href="/users/<%= current_user.id %>">My Albums</a></li>
                <% end %>

                <li>
                    <a href="/albums">Albums</a>
                </li>

                <% if current_user %>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/logout">Logout</a></li>
                <% else %>
                <li class='pure-menu-selected'><a href="/">Login</a></li>
                <% end %>

            </ul>
        </div>
    </div>

<%= yield %>
<script src="js/ui.js"></script>
</body>
</html>

